.filter-container {
  width: 25%;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

.portion {
  font-size: 12px;
}

.legend-container {
  display: flex;

}

li {
  border: 0.5px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 14px;
}