.filter-container {
  width: 25%;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}


li.selector {
  border: 0.2px solid gray;
  padding: 8px;
  margin: 5px;
  border-radius: 14px;
  cursor: pointer;
}

li.selector:active {
  box-shadow: 2px 3px lightgray;
}

li.selector:hover {
  transform: scale(1.05);
  background-color: rgb(96, 96, 96);
  color: white;
  outline: white solid 2px;
}
