body {
    background-color: #FCFAF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    padding: 0 4%;
}

nav {
    width: 98%;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 5px 0;
}

h1 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    margin: 0px 20px 0px 35px;
}

#title-e {
    font-size: 18px;
}


h2 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 0 0 8px 68px;
    width: 98%;
    text-align: left;
}

.all-container {
    width: 97%;
}

.map-container {
    margin: 5px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

img {
    width: 22px;
    height: 22px;
}