body {
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
}

nav {
    display: flex;
    justify-content:flex-start;
    width: 98%;
}

h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 20px 0 0 1.5%;
}

#title-e {
    font-size: 20px;
}

.icons {
    position: fixed;
    right: 2%;
    top: 2%;
}

h2 {
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 0 0 8px 3.1%;
    width: 98%;
    text-align: left;
}

.all-container {
    width: 97%;
}

.map-container {
    margin: 5px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
