.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.727);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #FCFAF6;
  padding: 50px 35px;
  border-radius: 14px;
  width: 30%;
  text-align: left;
  color: rgb(0, 0, 0);
  position: relative;
}

.hidden {
  display: none;
}

.close {
  color: rgb(0, 0, 0);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: 25px;

  i {
    cursor: pointer;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 100%;
    text-align: center;

    &:hover {
      color: white;
      background-color: gray;
    }
  }
}


#instruction-list li {
  margin: 1em 0;
  font-weight: 300;

  &:nth-child(2) {
    font-size: 18px;
  }

  &:nth-child(3) {
    font-size: 18px;
    font-weight: 400;
  }
}

