.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.727);
}

.modal-content {
  background-color: #c8c9d4;
  margin: 10%;
  padding: 20px;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  width: 57%;
  text-align: left;
  color: rgb(44, 44, 44);
}

.hidden {
  display: none;
}

.close {
  float: right;
  color: rgb(0, 0, 0);
  font-size: 26px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
  background-color: gray;
  text-decoration: none;
}

ul.instruction-list li {
  margin: 20px;
}

#tw {
  font-size: 20px;
  color: black;
  margin: 10px;
  text-align: center;
}

