#state-details {
  color: black;
  background-color: #FCFAF6;
  position: absolute;
  z-index: 5;
  width: 20%;
  height: 20%;
  min-width: 200px;
  min-height: 300px;
  top: calc(50% - 300px);
  right: 25%;
  border-radius: 14px;
  opacity: 0.7;
  font-size: 14px;
  padding: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

#count-details,
#percent-details {
  margin: 20px;
}

#count-details li,
#percent-details li {
  margin: 5px;
}