#state-details {
  color: black;
  background-color: #FCFAF6;
  position: absolute;
  z-index: 5;
  width: 25%;
  min-width: 200px;
  min-height: 300px;
  top: 30%;
  right: 22%;
  border-radius: 14px;
  opacity: 0.85;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);

  .close {
    top: 10px;
    right: 10px;
  }
}

#count-details,
#percent-details {
  margin: 35px 20px;
}

#count-details li,
#percent-details li {
  margin: 5px;

  &:nth-child(2) {
    font-weight: 200;
    margin-top: 10px;
    list-style: circle;
  }

  &:nth-child(3) {
    list-style: circle;
    font-weight: 200;
  }

  &:nth-child(4) {
    list-style: circle;
    font-weight: 200;
  }
}